body {
    background-color: Sienna;
}

h1 {
    font-size: 100px;
    color: DarkOrange;
}

button {
    background-color: Sienna;
     border-width: 0;
}

img {
    text-align: center;
}